# ~/.aliases
alias ls='eza --icons --group-directories-first'
alias ll='eza -la --icons --group-directories-first'
alias cd='z'
alias v='bat'
alias zed='zeditor'

# --- Search Tools ---
alias grep='grep --color=auto'