[submodule "external/.config/nvim"]
	path = external/.config/nvim
	url = git@github.com:CodeClimberNT/nvim.git
[submodule "external/.config/starship"]
	path = external/.config/starship
	url = git@github.com:CodeClimberNT/starship.git
[submodule "external/.config/espanso"]
	path = external/.config/espanso
	url = git@github.com:CodeClimberNT/espanso.git
